.fibrocemento{
    margin: 20px;
}

.fibrocementoSlider{
    box-sizing: border-box;
    transform: scale();
    position: sticky;
    font-family: Arial, Helvetica, sans-serif;
}
.fibrocementoSlider{
    width: 40%;
    height: 400px;
    overflow: hidden;
}
.fibrocementoSlider ul{
    display: flex;
    animation: cambio 10s infinite alternate linear;
    width: 400%;
}
.fibrocementoSlider li{
    list-style: none;
    padding: 4px;
}
.fibrocementoSlider img{
    height: 100%;
    float: right;
}
@keyframes cambio{
    0%{margin-left: 0;}
    20%{margin-left: 0;}
    
    25%{margin-left: -100%;}
    45%{margin-left: -100%;}
    
    50%{margin-left: -200%;}
    70%{margin-left: -200%;}
    
    75%{margin-left: -300%;}
    100%{margin-left: -300%;}
}
@media only screen and (min-width:320px) and (max-width:768px){
    .slider, .slider ul, .slider img{
        height: 100vh;
    }
}

.textosFibrocemento{
    margin: 20px;
    text-align: left;
}
.textosFibrocemento h2{
    color: red;
    text-align: center;
}

.textoFibrocemento1{
    margin-top: 20px;
}
.textoFibrocemento2{
    text-align: left; 
}
.imgFibrocemento{
    height: 100%;
    width: 100%;
}
.textoFibrocemento3{
    text-align: left;
    margin-left: 24vw;

}
.imagen2Fibrocemento{
    float: left;
    height: 30vw;
    margin-top: 40px;
}
.imgFinalFibrocemento{
    margin-top: 20px;
    height: 50vw;
    width: 90vw;
}
.tituloFinal{
    margin-top: 12vw;
    text-align: center;
    font-family: 'Courier New', 'monospace';
}